*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Nunito', sans-serif;
}

:root{
  --theme-color:#008080;
  --outline-color:darkslategray;

  --background-dark:#191b22;
  --background-light:#fafafa;
  --text-color-dark:#ffffff;
  --text-color-light:#262628;
  --input-background-dark:#313543;
  --input-background-light:#dcdcdc;
  --nav-background-dark:#18181a;
  --nav-background-light:#ffffff;
  --note-background-dark:#282c37;
  --note-background-light:#eaeaea;

  --container-padding:2rem;
}

body{
  transition:0.2s ease background-color;
  background-color:var(--background);
  color:var(--text-color);
  overflow-y:scroll;
  overflow-x:hidden;

  &[data-dark-theme=true]{
    --text-color:var(--text-color-dark);
    --background:var(--background-dark);
    --input-background:var(--input-background-dark);
    --nav-background:var(--nav-background-dark);
    --note-background:var(--note-background-dark);
  }
  &[data-dark-theme=false]{
    --text-color:var(--text-color-light);
    --background:var(--background-light);
    --input-background:var(--input-background-light);
    --nav-background:var(--nav-background-light);
    --note-background:var(--note-background-light);
  }

  &::-webkit-scrollbar{width:15px;height:15px;}
  &::-webkit-scrollbar-thumb{background:var(--theme-color);border:4px solid transparent;border-radius:10px;background-clip:content-box;}
}

button{
  border:none;
  background-color:inherit;
  cursor:pointer;
  color:inherit;
}

a{
  text-decoration:none;
  color:inherit
}

input, textarea, select{
  border: none;
  outline-color: transparent;
  background-color: var(--input-background);
  color: var(--text-color);
  resize: none;
  font-size: 0.75rem;
}

span{
  font-size:inherit;
}

div.root {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

main.content{
  width: 100%;
  padding-top: 10px;
}

span.no-notes{
  font-size: 0.85rem;
}

.container{
  padding-left:var(--container-padding);
  padding-right:var(--container-padding);
}

div.important{
  color:white;
  background-color:crimson;
  border-radius:50%;
  min-width:1.5rem;
  display:flex;
  justify-content:center;
  align-items:center;
  aspect-ratio:1;
  span{
    font-size:1rem;
    line-height:1;
  }
}

.note-control-button{
  background-color:#80808040;
  border-radius:50%;
  width:2rem;
  height:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    font-size:0.85rem;
  }
}

.timestamp{
  color: dimgray;
  font-weight: 700;
  font-size: 0.75rem;
  margin:0 auto;
}

.noresults{
  font-size: 0.85rem;
  text-align: center;
  padding-top: 10px;
}

@keyframes spin{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}

@media screen and (max-width:600px){
  :root{
    --container-padding:1rem;
  }
  div.root {
    flex-direction: column;
  }
  div.buttons{
    flex-direction: row!important;

    a, button {
      padding: 5px!important;

      span:last-of-type{
        display: none;
      }
    }
  }
  .mob-hide{
    display: none;
  }
}